/* Error: The target selector was not found.
 * Use "@extend ._text-h3 !optional" to avoid this error.
 *     ,
 * 109 |                     @extend ._text-h3;
 *     |                     ^^^^^^^^^^^^^^^^^
 *     '
 *   sections/_sa-section-featured.scss 109:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend ._text-h3 !optional" to avoid this error.\a     \2577 \a 109 \2502                      @extend ._text-h3;\a     \2502                      ^^^^^^^^^^^^^^^^^\a     \2575 \a   sections/_sa-section-featured.scss 109:21  root stylesheet';
}
